@import 'var';

.card {
    display: flex;
    min-height: 730px;
    font-family: "ProximaBold", sans-serif;

    &__img {
        flex-basis: 50%;
        background-image: url(../images/main-img-first.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        &--second {
            background-image: url(../images/main-img-second.png);
        }

        &--third {
            background-image: url(../images/main-img-third.jpg);
        }
    }

    &__content {
        flex-basis: 50%;
        max-width: 770px;
        position: relative;
        padding: 244px 20px 119px 130px;

        &--reverse {
            padding: 240px 122px 122px 0;
        }
    }

    &__number {
        width: 168px;
        height: 155px;
        background-color: $primary-color;
        display: flex;
        position: absolute;
        top: 211px;
        left: -84px;

        &--reverse {
            left: auto;
            right: -84px;
        }

        &-text {
            margin: auto;
            color: #f5f6f7;
            letter-spacing: 1.2px;
            text-transform: uppercase;
            line-height: 34.49px;
            font-size: 24px;

            &::after {
                content: '';
                display: block;

                height: 5px;
                border-radius: 2px;
                background-color: #ffffff;
                opacity: 0.3;
            }
        }
    }

    &__title {
        color: $secondary-color;
        font-family: "ProximaBold", sans-serif;
        font-size: 90px;
        line-height: 90px;
        text-transform: uppercase;
        margin-bottom: 103px;
    }

    &__text {
        max-width: 335px;
        color: #000000;
        font-family: "ProximaSemibold", sans-serif;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.2px;
        padding-left: 4px;
        padding-bottom: 15px;
        min-height: 174px;
        position: relative;

        &--reverse {
            max-width: 410px;
        }

        &--third {
            max-width: 530px;
        }

        &::after {
            content: '';
            width: 22px;
            height: 5px;
            border-radius: 2px;
            background-color: #5e42b0;
            position: absolute;
            bottom: 0;
            left: 2px;
        }
    }

    &--reverse {
        flex-direction: row-reverse;
    }
}

@media (max-width: 1540px) {
    .card {
        flex-direction: column;

        &__img {
            flex-basis: 584px;
        }

        &__number {
            width: 116px;
            height: 116px;
            left: 33px;
            top: -80px;
        }

        &__content {
            padding: 73px 20px 63px 30px;
            max-width: 100%;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            max-width: 100%;
            padding-bottom: 35px;
            min-height: auto;
        }
    }
}

@media (max-width: 767px) {
    body {
        min-width: 320px;
    }

    .card {
        min-height: auto;

        &__img {
            flex-basis: 350px;
        }

        &__title {
            font-size: 28px;
            line-height: 34.49px;
            text-transform: uppercase;
            letter-spacing: 1.4px;
            margin-bottom: 13px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.8px;
            padding-left: 2px;
            padding-bottom: 25px;

            &::after {
                height: 4px;
                left: 2px;
            }
        }

        &__number {
            width: 70px;
            height: 70px;
            top: -54px;
            left: 19px;

            &-text {
                font-size: 14px;
                line-height: 20px;
            } 
        }

        &__content {
            padding: 28px 20px 51px 19px;
        }
    }
}